body {
    background-color: #333;
}

.container {
    display: grid;
    gap: none;
    align-items: center;
    justify-content: center;
    height: 90vh;
    
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(117, 66, 66, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1000;
  gap: 1rem;
}

h1 {
    font-size: 5rem;
    font-family: fantasy;
    font-variant: small-caps;
    letter-spacing: 1rem;
    margin-bottom: 0;
}

.stycke {
    font-size: 1rem;
    font-family: fantasy;
    margin-top: 0;
}

button {
    height: 5rem;
    width: 10rem;
    font-size: 3rem;
    font-family: fantasy;
    color: #822121;
    border-radius: 25px;
    border: none;

}

button:hover {
    height: 5rem;
    width: 14rem;
}

#board {
    width: 1216px;
    height: 1024px;
    background-color: none;
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(16, 1fr);
    border: 15px solid #822121;
}

#board > div {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    gap: none;
    border: none
}

/* Floor tiles */
.fl {
    background-image: url("../img/floor.png");
}
/* Wall */
.wa {
 background-size: 100%;
 background-repeat: no-repeat;
 background-image: url("../img/wall.png");
}
/* Moveable block */
.bl, .bl_go {
background-image: url("../img/pushblock.png");
}
/* Player */
.pl {
background-image: url("../img/player.png");
}
.pl_go {
background-image: url("../img/player-go.png");
}
/* Goal tiles */
.go {
    background-image: url("../img/goal.png");
}