body {
    background-color: #333;
}

.container {
    display: grid;
    gap: none;
    align-items: center;
    justify-content: center;
    height: 90vh;
    
}

#board {
    width: 1216px;
    height: 1024px;
    background-color: none;
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(16, 1fr);
    border: 15px solid #822121;
}

#board > div {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    gap: none;
    border: none
}

/* Floor tiles */
.fl {
    background-image: url("../img/floor.png");
}
/* Wall */
.wa {
 background-size: 100%;
 background-repeat: no-repeat;
 background-image: url("../img/wall.png");
}
/* Moveable block */
.bl, .bl_go {
background-image: url("../img/pushblock.png");
}
/* Player */
.pl {
background-image: url("../img/player.png");
}
.pl_go {
background-image: url("../img/player-go.png");
}
/* Goal tiles */
.go {
    background-image: url("../img/goal.png");
}